################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kompik24.Web/.vs/Kompik24.Web/DesignTimeBuild/.dtbcache.v2
*.vsidx
/Kompik24.Web/.vs/Kompik24.Web/FileContentIndex/306e270e-ffdb-48a6-b77b-84e368d48f33.vsidx
/Kompik24.Web/.vs/Kompik24.Web/FileContentIndex/a6ec0ee6-2925-4b24-9734-07e025be5693.vsidx
/Kompik24.Api/bin/Debug/net6.0/Kompik24.Api.dll
/Kompik24.Api/bin/Debug/net6.0/Kompik24.Api.pdb
/Kompik24.Api/obj/Debug/net6.0/ref/Kompik24.Api.dll
/Kompik24.Api/obj/Debug/net6.0/Kompik24.Api.pdb
/Kompik24.Api/obj/Debug/net6.0/Kompik24.Api.dll
/Kompik24.Api/obj/Debug/net6.0/Kompik24.Api.csproj.CoreCompileInputs.cache
/Kompik24.Web/.vs/Kompik24.Web/v17/.suo
/Kompik24.Api/obj/Debug/net6.0/refint/Kompik24.Api.dll
/Kompik24.Api/obj/Debug/net6.0/Kompik24.Api.csproj.AssemblyReference.cache
/Kompik24.Api/obj/Kompik24.Api.csproj.nuget.dgspec.json
/Kompik24.Api/obj/project.nuget.cache
*.dll
*.pdb
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.json
*.props
*.targets
/Kompik24.Web/.vs/Kompik24.Web/FileContentIndex/03fe3fd7-bcdd-4bdc-b68a-767ab2fec16b.vsidx
/Kompik24.Web/.vs/Kompik24.Web/FileContentIndex/d87609c9-558e-400e-bc63-55057fdeaf6a.vsidx
/Kompik24.Web/.vs/ProjectEvaluation/kompik24.web.metadata.v5.2
/Kompik24.Web/.vs/ProjectEvaluation/kompik24.web.projects.v5.2
/ShopOnline.Web/obj/Debug/net6.0/build-gz/7bzwAQWF.gz
/.vs/ShopOnlineSolution/v17/.futdcache.v2
/.vs/ShopOnlineSolution/v17/.futdcache.v1
/.vs/ProjectEvaluation/shoponlinesolution.metadata.v5.2
*.2
/.vs/ProjectEvaluation/shoponlinesolution.projects.v5.2
/.vs/ShopOnlineSolution/v17/TestStore/0/000.testlog
/.vs/ShopOnlineSolution/v17/TestStore/0/testlog.manifest
/.vs/ShopOnlineSolution/v17/.suo
/.vs/ShopOnlineSolution/DesignTimeBuild/.dtbcache.v2
*.v2
/.vs/ShopOnlineSolution/config/applicationhost.config
*.config
*.lock
/.vs/ShopOnlineSolution/v17/.wsuo
/ShopOnline.Web/obj/Debug/net6.0/build-gz/Cu0chTHK.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/cbbF5VIG.gz
*.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/YFD6wb6z.gz
/ShopOnline.Web/bin/Debug/net6.0/wwwroot/_framework/ShopOnline.Web.pdb.gz
/ShopOnline.Web/bin/Debug/net6.0/wwwroot/_framework/ShopOnline.Web.dll.gz
/ShopOnline.Web/bin/Debug/net6.0/wwwroot/_framework/ShopOnline.Models.pdb.gz
/ShopOnline.Web/bin/Debug/net6.0/wwwroot/_framework/ShopOnline.Models.dll.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/D91GpDy+.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/++gEjg9t.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/2XvVGjwt.gz
/ShopOnline.Web/obj/Debug/net6.0/build-gz/gc3Vf1gV.gz
/.vs/Kompik24/v17/.suo
