@using ShopOnline.Web.Services;
@implements IDisposable
@inherits CartMenuBase
@inject IShoppingCartService shoppingCartService
@inject IUserService userService
@inject NavigationManager navigationManager

@if (User != null)
{
    <a href="/profile" class="btn btn-success">Profil</a>
    <a href="ShoppingCart" class="btn btn-info">
        <i class="oi oi-cart"></i>&nbsp;Cart
        <span class="badge bg-dark">@shoppingCartItemCount</span>
    </a>

}
else
{
    <a href="/login" class="btn btn-primary">Login</a>
}

@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}
